USE [master]
GO
/****** Object:  Database [PersonTrackerDB]    Script Date: 13.11.2016. 17:02:55 ******/
CREATE DATABASE [PersonTrackerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonTrackerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\PersonTrackerDB.mdf' , SIZE = 663552KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PersonTrackerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\PersonTrackerDB_log.ldf' , SIZE = 270336KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonTrackerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonTrackerDB]
GO
USE [PersonTrackerDB]
GO
/****** Object:  Table [dbo].[Brada]    Script Date: 13.11.2016. 17:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brada](
	[idBrada] [int] NOT NULL,
	[layer] [varbinary](max) NULL,
 CONSTRAINT [PK_Brada] PRIMARY KEY CLUSTERED 
(
	[idBrada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Celjust]    Script Date: 13.11.2016. 17:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Celjust](
	[idCeljust] [int] NOT NULL,
	[layer] [varbinary](max) NULL,
 CONSTRAINT [PK_Brkovi] PRIMARY KEY CLUSTERED 
(
	[idCeljust] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Glava]    Script Date: 13.11.2016. 17:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Glava](
	[idGlava] [int] NOT NULL,
	[layer] [varbinary](max) NULL,
 CONSTRAINT [PK_Glava] PRIMARY KEY CLUSTERED 
(
	[idGlava] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Komentar]    Script Date: 13.11.2016. 17:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Komentar](
	[idKomentar] [int] NOT NULL,
	[text] [varchar](5000) NULL,
	[idPrestupnik] [int] NULL,
	[idKorisnik] [int] NULL,
 CONSTRAINT [PK_Komentar] PRIMARY KEY CLUSTERED 
(
	[idKomentar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 13.11.2016. 17:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[idKorisnik] [int] NOT NULL,
	[ime] [varchar](50) NULL,
	[prezime] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[brojTelefona] [varchar](50) NULL,
 CONSTRAINT [PK_Korisnik] PRIMARY KEY CLUSTERED 
(
	[idKorisnik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kosa]    Script Date: 13.11.2016. 17:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kosa](
	[idKosa] [int] NOT NULL,
	[layer] [varbinary](max) NULL,
 CONSTRAINT [PK_Kosa] PRIMARY KEY CLUSTERED 
(
	[idKosa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nestali]    Script Date: 13.11.2016. 17:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nestali](
	[idNestali] [int] NOT NULL,
	[ime] [varchar](50) NULL,
	[prezime] [varchar](50) NULL,
	[godinaRodenja] [int] NULL,
	[fotografija] [varbinary](max) NULL,
	[datumNestanka] [date] NULL,
	[mjestoNestanka] [varchar](50) NULL,
	[idKorisnik] [int] NULL,
	[spol] [varbinary](50) NULL,
	[komentar] [varchar](50) NULL,
	[visina] [varchar](50) NULL,
	[tezina] [varchar](50) NULL,
 CONSTRAINT [PK_Nestali] PRIMARY KEY CLUSTERED 
(
	[idNestali] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nos]    Script Date: 13.11.2016. 17:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nos](
	[idNos] [int] NOT NULL,
	[layer] [varbinary](max) NULL,
 CONSTRAINT [PK_Nos] PRIMARY KEY CLUSTERED 
(
	[idNos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Obrve]    Script Date: 13.11.2016. 17:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Obrve](
	[idObrve] [int] NOT NULL,
	[layer] [varbinary](max) NULL,
 CONSTRAINT [PK_Obrve] PRIMARY KEY CLUSTERED 
(
	[idObrve] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Oci]    Script Date: 13.11.2016. 17:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oci](
	[idOci] [int] NOT NULL,
	[layer] [varbinary](max) NULL,
 CONSTRAINT [PK_Oci] PRIMARY KEY CLUSTERED 
(
	[idOci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Prestupnik]    Script Date: 13.11.2016. 17:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestupnik](
	[idPrestupnik] [int] NOT NULL,
	[idSkica] [int] NULL,
	[idKorisnik] [int] NULL,
	[opis] [varchar](50) NULL,
	[fotografija] [varbinary](max) NULL,
	[mjestoPrijestupa] [nchar](10) NULL,
	[datumPrijestupa] [date] NULL,
 CONSTRAINT [PK_Prestupnik] PRIMARY KEY CLUSTERED 
(
	[idPrestupnik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Skica]    Script Date: 13.11.2016. 17:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skica](
	[idSkica] [int] NOT NULL,
	[idBrada] [int] NULL,
	[idGlava] [int] NULL,
	[foto] [varbinary](max) NULL,
	[idUsne] [int] NULL,
	[idObrve] [int] NULL,
 CONSTRAINT [PK_Skica] PRIMARY KEY CLUSTERED 
(
	[idSkica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usne]    Script Date: 13.11.2016. 17:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usne](
	[idUsne] [int] NOT NULL,
	[layer] [varbinary](max) NULL,
 CONSTRAINT [PK_Usne] PRIMARY KEY CLUSTERED 
(
	[idUsne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Komentar]  WITH CHECK ADD  CONSTRAINT [FK_Komentar_Korisnik] FOREIGN KEY([idKorisnik])
REFERENCES [dbo].[Korisnik] ([idKorisnik])
GO
ALTER TABLE [dbo].[Komentar] CHECK CONSTRAINT [FK_Komentar_Korisnik]
GO
ALTER TABLE [dbo].[Komentar]  WITH CHECK ADD  CONSTRAINT [FK_Komentar_Prestupnik] FOREIGN KEY([idPrestupnik])
REFERENCES [dbo].[Prestupnik] ([idPrestupnik])
GO
ALTER TABLE [dbo].[Komentar] CHECK CONSTRAINT [FK_Komentar_Prestupnik]
GO
ALTER TABLE [dbo].[Nestali]  WITH CHECK ADD  CONSTRAINT [FK_Nestali_Korisnik] FOREIGN KEY([idKorisnik])
REFERENCES [dbo].[Korisnik] ([idKorisnik])
GO
ALTER TABLE [dbo].[Nestali] CHECK CONSTRAINT [FK_Nestali_Korisnik]
GO
ALTER TABLE [dbo].[Prestupnik]  WITH CHECK ADD  CONSTRAINT [FK_Prestupnik_Korisnik] FOREIGN KEY([idPrestupnik])
REFERENCES [dbo].[Korisnik] ([idKorisnik])
GO
ALTER TABLE [dbo].[Prestupnik] CHECK CONSTRAINT [FK_Prestupnik_Korisnik]
GO
ALTER TABLE [dbo].[Prestupnik]  WITH CHECK ADD  CONSTRAINT [FK_Prestupnik_Skica] FOREIGN KEY([idPrestupnik])
REFERENCES [dbo].[Skica] ([idSkica])
GO
ALTER TABLE [dbo].[Prestupnik] CHECK CONSTRAINT [FK_Prestupnik_Skica]
GO
ALTER TABLE [dbo].[Skica]  WITH CHECK ADD  CONSTRAINT [FK_Skica_Brada] FOREIGN KEY([idSkica])
REFERENCES [dbo].[Brada] ([idBrada])
GO
ALTER TABLE [dbo].[Skica] CHECK CONSTRAINT [FK_Skica_Brada]
GO
ALTER TABLE [dbo].[Skica]  WITH CHECK ADD  CONSTRAINT [FK_Skica_Brkovi] FOREIGN KEY([idSkica])
REFERENCES [dbo].[Celjust] ([idCeljust])
GO
ALTER TABLE [dbo].[Skica] CHECK CONSTRAINT [FK_Skica_Brkovi]
GO
ALTER TABLE [dbo].[Skica]  WITH CHECK ADD  CONSTRAINT [FK_Skica_Glava] FOREIGN KEY([idSkica])
REFERENCES [dbo].[Glava] ([idGlava])
GO
ALTER TABLE [dbo].[Skica] CHECK CONSTRAINT [FK_Skica_Glava]
GO
ALTER TABLE [dbo].[Skica]  WITH CHECK ADD  CONSTRAINT [FK_Skica_Kosa] FOREIGN KEY([idSkica])
REFERENCES [dbo].[Kosa] ([idKosa])
GO
ALTER TABLE [dbo].[Skica] CHECK CONSTRAINT [FK_Skica_Kosa]
GO
ALTER TABLE [dbo].[Skica]  WITH CHECK ADD  CONSTRAINT [FK_Skica_Nos] FOREIGN KEY([idSkica])
REFERENCES [dbo].[Nos] ([idNos])
GO
ALTER TABLE [dbo].[Skica] CHECK CONSTRAINT [FK_Skica_Nos]
GO
ALTER TABLE [dbo].[Skica]  WITH CHECK ADD  CONSTRAINT [FK_Skica_Obrve] FOREIGN KEY([idObrve])
REFERENCES [dbo].[Obrve] ([idObrve])
GO
ALTER TABLE [dbo].[Skica] CHECK CONSTRAINT [FK_Skica_Obrve]
GO
ALTER TABLE [dbo].[Skica]  WITH CHECK ADD  CONSTRAINT [FK_Skica_Oci] FOREIGN KEY([idSkica])
REFERENCES [dbo].[Oci] ([idOci])
GO
ALTER TABLE [dbo].[Skica] CHECK CONSTRAINT [FK_Skica_Oci]
GO
ALTER TABLE [dbo].[Skica]  WITH CHECK ADD  CONSTRAINT [FK_Skica_Usne] FOREIGN KEY([idUsne])
REFERENCES [dbo].[Usne] ([idUsne])
GO
ALTER TABLE [dbo].[Skica] CHECK CONSTRAINT [FK_Skica_Usne]
GO
USE [master]
GO
